* {
    margin: 0;
    box-sizing: border-box;
}

/* luckiest-guy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/luckiest-guy-v25-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-image: url('img/5_background/bg_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Luckiest Guy';
    letter-spacing: 0.5px;
    color: #FFE21A;
    text-shadow:
        2px 2px 0 #FF9A00,
        4px 4px 0 #8B3A00;
    font-size: clamp(2rem, 8vw, 4rem);
    text-align: center;

    margin-top: 20px;
}

canvas {

    outline: #FFE21A 5px solid;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    border-radius: 10px;
}

#start_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    outline: #FFE21A 5px solid;

    display: none;

    border-radius: 10px;
}

.btns_container {

    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 350px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btns_container button {
    background-color: transparent;
    border: none;

    cursor: pointer;

    font-family: 'Luckiest Guy';
    letter-spacing: 0.5px;
    color: #FFE21A;
    /* text-shadow:
        2px 2px 0 #FF9A00,
        4px 4px 0 #8B3A00; */
    font-size: clamp(0.5rem, 2vw, 1rem);
    text-align: center;
}

span{
    background-color: #c03136;

    padding: 5px;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    height: 80px;
    width: auto;
}

#neu_starten_btn,
#zur_startseite_btn,
#start_btn,
#anleitung_btn {
    display: none;
}

dialog {
    width: 420px;
    height: 480px;

    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    background-image: url('./img/5_background/bg_dialog.png');
    background-position: top;
    background-size: cover;
    /* background-color: #D08A5A;
    background-position: center; */

    border: solid 5px #C0272B;
    border-radius: 10px;

    color: #03381d;
    font-size: large;
    font-family: 'Luckiest Guy';
    letter-spacing: 0.5px;

    padding: 0px;
}

#container1 {
    display: flex;
    justify-content: end;
}

#close-dialog img {
    height: 50px;
    width: auto;
}

#close-dialog{
    background-color: transparent;

    border: none;

    cursor: pointer;
}

.anleitung {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

.volume-off,
.volume-on {
    display: none;
}

.volume-off svg,
.volume-on svg {
    height: 25px;
    width: 25px;
}

#volume-on,
#volume-off {
    background-color: transparent;
    border: none;

    cursor: pointer;

    width: fit-content;
    height: fit-content;
}

.volume-on,
.volume-off {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 400px;
    margin: auto;
    z-index: 9999;
    cursor: pointer;
}